package pages

import (
	"carbonite/client/templates/layout"
)

templ Home(title string, isLogged bool, message string) {
	@layout.Base(title, isLogged) {
		<section class="hero is-large">
			<div class="hero-body">
				<p class="title">{ message }</p>
				<div class="columns">
					<div class="column">
						<div class="block has-text-justified">
            TEXT
						</div>
					</div>
					<div class="column"></div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="block has-text-justified">
            DESCRIPTION
						</div>
					</div>
					<div class="column"></div>
				</div>
				if !isLogged {
					<p class="mg-u-6 subtitle">
						<a href="/login">Connectez-vous</a>
					</p>
				}
			</div>
		</section>
	}
}
