package pages

import (
	"carbonite/admin/templates/layout"
)

templ Welcome(title string) {
	@layout.Base(title, true) {
		<div class="container py-5">
			<div class="fixed-grid ">
				<div class="grid ">
					<div class="cell">
						<section class="section">
							<h1 class="title">FAIRE UN BILAN CARBONE</h1>
							<h2 class="subtitle">Pourquoi faire un bilan carbone ?</h2>
							<p>
								Comprendre et réduire votre empreinte carbone est essentiel pour répondre aux défis
								environnementaux actuels et pour améliorer votre image de marque.
								<strong>Planet55</strong> vous aide à trouver les meilleurs experts pour réaliser un
								bilan carbone détaillé et vous accompagner dans la mise en œuvre de stratégies de
								réduction.
							</p>
						</section>
					</div>
					<div class="cell">
						<section class="section">
							<h1 class="title">RÉPONDRE AU CSRD</h1>
							<h2 class="subtitle">
								Préparez-vous aux nouvelles obligations du CSRD
							</h2>
							<p>
								Le Corporate Sustainability Reporting Directive (CSRD) impose de nouvelles exigences de
								reporting pour les entreprises. <strong>Planet55</strong> vous connecte avec des
								spécialistes
								du CSRD
								pour
								vous assurer que vos rapports répondent aux normes et régulations en vigueur, tout en
								renforçant la transparence de vos activités.
							</p>
						</section>
					</div>
					<div class="cell">
						<section class="section">
							<h1 class="title">CONNAÎTRE &amp; VALORISER MES DATA ESG</h1>
							<h2 class="subtitle">
								Exploitez la puissance de vos données ESG
							</h2>
							<p>
								Les données Environnementales, Sociales et de Gouvernance (ESG) sont cruciales pour
								évaluer
								et améliorer vos performances durables. Grâce à <strong>Planet55</strong>, identifiez les
								entreprises
								spécialisées en analyse et valorisation de données ESG pour vous aider à prendre des
								décisions éclairées et à valoriser votre engagement RSE.
							</p>
						</section>
					</div>
					<div class="cell">
						<section class="section">
							<h1 class="title">M’ENGAGER DANS UNE TRAJECTOIRE DE CERTIFICATION</h1>
							<h2 class="subtitle">
								Faites reconnaître vos efforts et vos engagements
							</h2>
							<p>
								Se lancer dans un processus de certification ou de labellisation peut être complexe.
								<strong>Planet55</strong> vous met en relation avec des consultants expérimentés qui vous
								guideront à
								chaque
								étape pour obtenir les certifications ou labels qui valoriseront vos efforts en matière
								de
								qualité, environnement ou responsabilité sociale.
							</p>
						</section>
					</div>
					<div class="cell">
						<section class="section">
							<h1 class="title">ME FORMER / ENGAGER MES COLLABORATEURS</h1>
							<h2 class="subtitle">
								Investissez dans le développement de vos équipes
							</h2>
							<p>
								La formation continue est clé pour maintenir la compétitivité de votre entreprise.
								Planet55
								propose une sélection de formateurs et de programmes de développement pour vous et vos
								collaborateurs, adaptés à vos besoins spécifiques en compétences et en savoir-faire.
							</p>
						</section>
					</div>
					<div class="cell">
						<section class="section">
							<h1 class="title">TROUVER L’EXPERT / LE PRESTATAIRE DONT J’AI BESOIN</h1>
							<h2 class="subtitle">
								Trouvez le prestataire parfait pour vos projets
							</h2>
							<p>
								Quel que soit votre besoin, <strong>Planet55</strong> vous aide à trouver l&#39;expert
								ou le prestataire idéal. Grâce à notre base de données riche et diversifiée, accédez facilement aux
								profils des sociétés référencées pour sélectionner celles qui répondent parfaitement à vos
								exigences en termes de compétences, de localisation et de différenciation.
							</p>
						</section>
					</div>
					<div class="cell is-col-span-2">
						<section class="section">
							<h1 class="title">Projet de Co-développement</h1>
							<h2 class="subtitle">
								Innovez grâce à des projets de co-développement
							</h2>
							<p>
								Le co-développement est une stratégie gagnante pour innover et développer des projets
								ambitieux. <strong>Planet55</strong> facilite la mise en relation entre entreprises pour
								collaborer sur des projets communs, mutualiser les compétences et partager les risques pour un succès partagé.
							</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	}
}
