package pages

import (
	"carbonite/client/templates/layout"
)

templ Welcome(title string) {
	@layout.Base(title, true) {
		<div class="container py-5">
			<div class="fixed-grid ">
				<div class="grid ">
					<div class="cell">
						<section class="section">
							<h1 class="title">TITLE</h1>
							<p>
								DESCRIPTION
							</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	}
}
